@media (max-width: 1200px)
    .container
        max-width: 960px

@media (max-width: 992px)
    .container
        max-width: 760px
    .logo
        width: 132px
    .navbar
        &-top
            padding-top: 30px
            padding-bottom: 30px
        &-menu
            padding-top: 20px
            padding-bottom: 20px
            &__link
                font-size: 12px
                line-height: 15px
    .search
        &__input
            width: 340px
@media (max-width: 820px)
    .container
        max-width: 700px
        width: 92%
    .navbar
        &-top
            padding-top: 31px
        &-menu
            padding: 20px 15px 22px 14px
        &__search
            margin-left: 48px

@media (max-width: 734px)
    .navbar
        &__search
            margin-left: auto
        &-menu
            padding: 23px 0
    .search
        &__input
            width: 300px
    .user
        &__name
            margin-left: 8px
@media (max-width: 660px)
    .logo
        width: 99px
    .navbar
        &-top
            padding-top: 22px
            padding-bottom: 30px
        &__search, &__user, &-menu
            display: none
    .menu
        &-button
            align-self: flex-end
            display: flex
            width: 16px
            height: 11px
            padding: 0
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            background-color: $light
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
@media (max-width: 540px)
    .stars
        flex-basis: 75%
    .hotel
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &__text
                width: 100%
            &__name
                margin-top:
            &__rating
                display: none
            &__offer
                order: -1
                margin-left: 0
@media (max-width: 480px)
    .container
        width: 87%
    .breadcrumb
        &-list
            padding: 19px 0 18px 0
    .hotel
        padding-top: 5px
    .stars
        flex-basis: auto
